:root {
    --primary-color: #9AD4D6;
    /* Tiffany Blue */
    --secondary-color: #5C6F68;
    /* Feldgrau */
    --accent1-color: #A77464;
    /* Brown Sugar */
    --accent2-color: #FFE787;
    /* Jasmine */
    --heading-font: "bubblegum sans", sans-serif;
    --body-font: "raleway", sans-serif;
}

header {
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 20px;
}

header img {
    position: relative;
    top: 10px;
    left: 30%;
    width: 150px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.history img {
    width: 100px;
    height: 100px;
}

.history {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.adventure img {
    width: 150px;
    height: auto;
}

.adventure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color)
}


nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}


.hero img {
    display: block;
    width: 100%;
    height: auto
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer p {
    grid-column: 1 / 4;
    align-items: center;
    justify-self: end;
}

.profiles {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.profiles figure {
    width: 250px;
    text-align: center;
}

.profiles figure img {
    width: 200px;
}

form {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

legend {
    font-size: 20px;
    color: darkblue;
    padding: 10px;
    font-style: italic;
}

label {
    text-align: right;
    padding-right: 10px;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    background-color: green;
}

aside {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
}

.contact {
    text-align: center;
}

.contact iframe {
    width: 250px;
    height: auto;
    align-content: center;
}